# Python
__pycache__/
*.py[cod]
*$py.class
.env
*.env
.venv/
venv/
ENV/
logs/
*.duckdb
hs_err_pid*.log
replay_pid*.log

# Spark checkpoints & logs
.checkpoint/
checkpoint/
checkpoints/
metastore_db/
derby.log
spark-warehouse/
delta/
scratch/
monitoring/metrics.log*
export/
warehouse/*.duckdb*
warehouse/.duckdb*



# IDE
.vscode/
.idea/

# Native Kafka & Hadoop
kafka/
hadoop/
tmp_kafka/
*.tgz
/tmp/kraft-combined-logs/
